<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Bibliothèque-{% block titre %}accueil{% endblock titre %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12 col-md-6" style="background-color:#F7F4EF">
        <div class="col-xs-12 col-md-6 Titre">Bienvenue dans notre bibliothèque virtuelle&nbsp;!</div>
        </div>


        <div class="col-xs-12 col-md-6" style="padding:1.0em; background-color:#FEAA00;">
            {% block fenetre-HD %}
            <p class="Titre2">{{legende}}</p>
            {% endblock fenetre-HD %}
           </div>
    </div>
 {% block menu-principal %}
    <div class="row">
    <div class="col-xs-12 col-md-12">
        <nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recherche' %}">Recherche</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#fenetrestats">Statistiques</a>
            </li>

            {% if request.user.is_authenticated == False %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'connexion:login' %}" >Connexion</a>
            </li>
             {% endif %}
            {% if request.user.is_authenticated == True %}
             <li class="nav-item">
                <a class="nav-link" href="{% url 'save' %}">MAJ la BdD</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'connexion:logout' %}" >Déconnexion</a>
            </li>
            {% endif %}

        </ul>

    </div>
</nav></div>
        {% endblock menu-principal %}
        </div>

        <div class="row g-0">
             {% block principal %}
            <div class="col-xs-12 col-md-3" style="background-color:#788402; padding-left:1.0em;padding-top:1.0em;">
                <h3>Les 10 auteurs les plus lus&nbsp;:</h3>
                <p class="txtblanc">{{auteur.0.1}} livres de {{auteur.0.0}}.</p>
                <p class="txtblanc">{{auteur.1.1}} livres de {{auteur.1.0}}.</p>
                <p class="txtblanc">{{auteur.2.1}} livres de {{auteur.2.0}}.</p>
                <p class="txtblanc">{{auteur.3.1}} livres de {{auteur.3.0}}.</p>
                <p class="txtblanc">{{auteur.4.1}} livres de {{auteur.4.0}}.</p>
                <p class="txtblanc">{{auteur.5.1}} livres de {{auteur.5.0}}.</p>
                <p class="txtblanc">{{auteur.6.1}} livres de {{auteur.6.0}}.</p>
                <p class="txtblanc">{{auteur.7.1}} livres de {{auteur.7.0}}.</p>
                <p class="txtblanc">{{auteur.8.1}} livres de {{auteur.8.0}}.</p>
                <p class="txtblanc">{{auteur.9.1}} livres de {{auteur.9.0}}.</p>
            </div>
        <div class="col-xs-12 col-md-4"> <img src="{% static 'images/image_1.jpg' %}" width="100%">
    </div>
        <div class="col-xs-12 col-md-5" style="background-color:#342628; padding-left:1.0em;padding-top:1.0em;">
            <h3>Les 10 mots clefs les plus mentionnés&nbsp;:</h3>
                <p class="txtblanc">{{tagcite.0.1}} mentions de {{tagcite.0.0}}.</p>
                <p class="txtblanc">{{tagcite.1.1}} mentions de {{tagcite.1.0}}.</p>
                <p class="txtblanc">{{tagcite.2.1}} mentions de {{tagcite.2.0}}.</p>
                <p class="txtblanc">{{tagcite.3.1}} mentions de {{tagcite.3.0}}.</p>
                <p class="txtblanc">{{tagcite.4.1}} mentions de {{tagcite.4.0}}.</p>
                <p class="txtblanc">{{tagcite.5.1}} mentions de {{tagcite.5.0}}.</p>
                <p class="txtblanc">{{tagcite.6.1}} mentions de {{tagcite.6.0}}.</p>
                <p class="txtblanc">{{tagcite.7.1}} mentions de {{tagcite.7.0}}.</p>
                <p class="txtblanc">{{tagcite.8.1}} mentions de {{tagcite.8.0}}.</p>
                <p class="txtblanc">{{tagcite.9.1}} mentions de {{tagcite.9.0}}.</p>
        </div>
            {% endblock principal %}
    </div>

<!-- POPUP STATISTIQUES-->
        <div class="modal fade" id="fenetrestats">
            <div  class="modal-dialog">
            <div  class="modal-content">
                <div  class="modal-header">Les statistiques
                <button type="button" class="close" data-dismiss="modal">X</button>
                    </div>
                <div class="modal-body">
                 <img src="{% static 'images/mongraphe2.png' %}">
                </div>
            </div>

</div>
        </div>

<!-- POPUP CONNEXION-->
    <div class="modal fade" id="fenetreconnexion">
            <div  class="modal-dialog">
            <div  class="modal-content">
                <div  class="modal-header">Veuillez vous connecter :
                <button type="button" class="close" data-dismiss="modal">X</button>
                    </div>
                <div class="modal-body">

</div>
            </div>

</div>
        </div>
<!-- LIENS JQUERY-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>